[local]
localhost

[local:vars]
ansible_connection=local
ansible_user=me
ansible_become_password=u


[remote]
192.168.1.*

[remote:vars]
ansible_user=me
ansible_become_password=u

[this:children]
remote
